.container-skills{
  h1{
    text-align: center;
    padding: .625rem 0;
    font-family: 'Rubik', sans-serif;
    color: white;
}
p{
    padding-top: .125rem;
    font-size: 1.25rem;
    font-family: 'Rubik', sans-serif;
    color: rgba(255, 255, 255, 0.518);
}
}

.experiencia {
    padding: 10px 40px 0px 40px;
  }
  
  .experiencia .columna {
    border: 1px solid white;
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 0.2s ease-in;
  }


  
  .experiencia .columna:hover {
    color: white;
    background-color: #4d4d80;
  }
  
  .experiencia i {
    font-size: 2.5rem;
    color: rgb(112, 44, 149);
    background-color: #1f1f2e;
    padding: 8px 19px;
    border-radius: 50%;
  }
  
  .experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }
  




  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  


  .logos {
    display: flex;
    justify-items: center;
    overflow: hidden;
    padding: 50px 0;
    background: rgba(97, 52, 52, 0);
    position: relative;
    white-space: nowrap;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 60px;
    margin: 0 40px;
  }

.subtitulo{
    color: white;
    padding: 20px 0px 20px 0px;
    font-family: rubik;
}


.text-center{
    padding-top: 20px;
    color: white;
    font-family: rubik;
}